<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
</head>
<body>
	<nav>
		<a href="{{ path('hello') }}">Hello</a><br>
		<a href="{{ path('customers') }}">Clients</a><br>
		<a href="{{ path('flickr') }}">Flickers</a><br>
		<a href="{{ path('home') }}">Home</a><br>
		<a href="{{ path('bonjour', {name: 'tom'}) }}">Bonjour Tom</a><br>
		<a href="{{ path('bonjour', {name: 'bob'}) }}">Bonjour Bob</a><br>
	</nav>
	
	<img src="{{ asset('images/test.jpg') }}">
	<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>